div.kabuki-box
  span.main.main-top 傾
  span.sub.sub-top カ
  span.sub.sub-top ブ
  span.sub.sub-top キ
  span.sub.sub-top モ
  span.sub.sub-top ノ
  span.main.main-middle 物
  span.sub.sub-bottom ガ
  span.sub.sub-bottom タ
  span.sub.sub-bottom リ
  span.main.main-bottom 語

div.kabuki-img