div.koyomi-box
  span.main.main-top 暦
  span.sub.sub-top コ
  span.sub.sub-top ヨ
  span.sub.sub-top ミ
  span.sub.sub-top モ
  span.sub.sub-top ノ
  span.main.main-middle 物
  span.sub.sub-bottom ガ
  span.sub.sub-bottom タ
  span.sub.sub-bottom リ
  span.main.main-bottom 語