div.nisezyou-box
  span.main.main-top 偽
  span.sub.sub-top ニ
  span.sub.sub-top セ
  span.sub.sub-top モ
  span.sub.sub-top ノ
  span.main.main-middle 物
  span.sub.sub-bottom ガ
  span.sub.sub-bottom タ
  span.sub.sub-bottom リ
  span.main.main-bottom 語

div.nisezyou-img